@if (Request.IsAuthenticated)
{
    @Html.Partial("MyAccountDropdownPartial")
}
else
{
    <li>
        <a href="@Url.Action("Register", "UserAccount")" class="TopBarItem TopBarButton">
            <span class="glyphicon glyphicon-user"></span> Sign Up
        </a>
    </li>
    <li>
        <a href="@Url.Action("Login", "UserAccount")" class="TopBarItem TopBarButton">
            <span class="glyphicon glyphicon-log-in"></span> Login
        </a>
    </li>
}
