@{
    ViewBag.Title = "Home Page";
}



<div class="backgroundImage"></div>
<div class="jumbotron">
    <p class="lead">Welcome to</p>
    <h1>Budget Rent-A-Car</h1>
    <h3>For all your make-believe car rental needs</h3>
</div>
<hr/>
<div class="container">
    <div class="row">
        <h2>Page Content</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
    </div>
    <hr>
    <div class="row">
        <h2>Page Content</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
        <h2>Page Content</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.
        <h2>Page Content</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.

    </div>
    <hr>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>The End.</p>
        </div>
    </div>
</div>

<script>

    var jumboHeight = $('.jumbotron').outerHeight();

    function parallax() {
        var scrolled = $(window).scrollTop() - 50; //bit of padding from the top of the window
        $('.backgroundImage').css('height', (jumboHeight - scrolled) + 'px');
    }

    //$(window).scroll(function (e) { parallax(); });

    //$(function () { parallax(); });
</script>

<style>
    .backgroundImage {
        background: url(../../Images/keys.png) no-repeat center center;
        background-size: 100%;
        position: absolute;
        width: 90%;
        height: 350px; /*same height as jumbotron */
        top: 140px;
        z-index: -1;
    }

    .jumbotron {
        height: 350px;
        padding-bottom: 5px;
        /*color: white;*/
        color: white !important;
        text-shadow:  #145214  0 1px 1px;
        /*text-shadow: white 0 1px 1px;*/
        background: transparent;
    }
</style>